<div id="<%= dom_id electrical_panel %>">
  <p>
    <strong>Name:</strong>
    <%= electrical_panel.name %>
  </p>

  <p>
    <strong>Dwelling:</strong>
    <%= electrical_panel.dwelling&.name || "N/A" %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= electrical_panel.room.name %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= electrical_panel.room.floor.name %>
  </p>

  <p>
    <strong>Input Max Current:</strong>
    <%= electrical_panel.input_max_current || "N/A" %> A
  </p>

  <p>
    <strong>Input Cable:</strong>
    <%= electrical_panel.input_cable ? "#{electrical_panel.input_cable.section} mm²" : "N/A" %>
  </p>

</div>
