<% content_for :title, "ElectricPlan" %>

<h1>ElectricPlan</h1>

<div style="margin-top: 2rem;">
  <h2>Management Sections</h2>

  <div style="margin: 1rem 0;">
    <h3><%= link_to "Dwellings", dwellings_path %></h3>
  </div>

  <div style="margin: 1rem 0;">
    <h3><%= link_to "Configuration", configuration_index_path %></h3>
  </div>

  <div style="margin: 1rem 0;">
    <h3><%= link_to "Electrical Panels", electrical_panels_path %></h3>
  </div>

  <div style="margin: 1rem 0;">
    <h3><%= link_to "Residual Current Devices", residual_current_devices_path %></h3>
  </div>

  <div style="margin: 1rem 0;">
    <h3><%= link_to "Breakers", breakers_path %></h3>
  </div>

  <div style="margin: 1rem 0;">
    <h3><%= link_to "Items", items_path %></h3>
  </div>
</div>
