<%= form_with(model: room, class: "crud-form") do |form| %>
  <% if room.errors.any? %>
    <div class="error-messages">
      <h3><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h3>
      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :floor_id, "Floor" %>
    <%= form.collection_select :floor_id, Floor.all, :id, :name, { prompt: "Select a floor" }, { class: "form-input", data: { controller: "select" } } %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "button-primary" %>
    <%= link_to "Cancel", rooms_path, class: "button-secondary" %>
  </div>
<% end %>
